body {
  overflow-x: hidden;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

.container,
.container-fluid,
.row {
  padding: 0 !important;
  margin: 0 !important;
}

[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top {
  -webkit-backface-visibility: hidden;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.hero {
  /*background-image: url(img/ProjectBg.jpg); */
  background: linear-gradient(
      116deg,
      rgba(17, 16, 16, 0.7) 0%,
      rgba(17, 16, 16, 0.7) 99%
    ),
    url("img/ProjectBg.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5rem 2rem;
}

/* Navbar Styling Starts */
.navbar {
  letter-spacing: 0.1rem;
  height: 5rem;
}

.navbar-brand {
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;

  padding-left: 13%;
}

.navbar-nav li {
  padding-right: 0.9rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #e71c23;
  border-radius: 10px;
}

.nav-link {
  font-size: 1.1rem;
  font-family: "Merriweather", serif;
}

/* Navigation style ends */
.profile-photo {
  width: 200px;
  height: 200px;
  margin: 5rem 35% 0 42%;
  border-radius: 50%;
  background-size: cover;
}

.name h1 {
  font-size: 2.6rem;

  line-height: 1.5;
  margin: 1rem 30% 0.3rem 30%;
  letter-spacing: 0.1rem;
  font-family: "Crimson Text", serif;
}

.name h2 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  margin: 1rem 20% 1rem 30%;
  letter-spacing: 0.1rem;
}

.btn-myWork {
  border-radius: 1.4rem;
  margin-left: 32%;
  margin-top: 2%;
  margin-right: 2%;
  width: 200px;
  color: #fff;
  background-color: #ff3031;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out, color 0.3s 0.4s;
}
.btn-hireMe {
  border-radius: 1.4rem;
  color: #ff3031;
  margin-top: 2%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out, color 0.3s 0.4s;
  width: 200px;
  box-shadow: 0px 0px 16px -2px #ff3031;
}

.btn-myWork:hover {
  background-color: #fff;
  color: #ff3031;
}

.btn-hireMe:hover {
  background-color: #ff3031;
  color: white;
}
/* End of Home Section */

/* Start of About me Section */

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #1ebba3;
  margin-bottom: 1rem;
}

#aboutMyself {
  margin-left: 20%;
  font-size: 1.4rem;
  font-family: "Crimson Text", serif;
}

.btn-resume {
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 20%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}
/*--------- Services Section Styling starts Here---------*/

#services h3.heading {
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
  margin-top: 3%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}

.fixed-background {
  background-image: url(img/serviceBg.png);

  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
}

#services .lead {
  font-family: "Crimson Text", serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
}

.serviceTitle {
  margin-top: 5%;
  font-size: 2rem;
  font-family: "Merriweather", serif;
}
/* Skills Section Styling */

.progress {
  width: 500px;
  height: 1rem;
  margin-bottom: 0.7rem;
  margin-top: -1rem;
  margin-left: 10%;
}

#skills p {
  margin-left: 10%;
  text-align: left;
  font-weight: bold;
}

#skills img {
  padding-left: 7%;
}

#skills .banner {
  height: 300px;
  background-color: #192a56;
  color: #fff;
}

#skills .banner h1 {
  text-align: center;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  padding-top: 5%;
  letter-spacing: 0.1rem;
}

#skills .banner h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  padding-top: 2%;
  letter-spacing: 0.1rem;
}

#skills .btn-getInTouch {
  text-align: center;

  margin-left: 40%;
  margin-top: 1.5%;
  margin-bottom: 2%;
  border-radius: 2rem;
  width: 12rem;
  text-transform: uppercase;
  background-color: #ff3031;
  color: #fff;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out, color 0.3s 0.4s;
}
#skills .btn-getInTouch:hover {
  color: #ff3031;
  background-color: #fff;
}
/* Projects Section Styling Starts */

.fixed-background h3 {
  color: white;
  margin-bottom: 1.1rem;
}

.Project-Content .container {
  position: relative;
}

.Project-Content .image {
  opacity: 1;
  width: 620px;
  display: block;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
  margin-bottom: 2rem;
}

.Project-Content .middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.Project-Content .container:hover .image {
  opacity: 0.1;
}

.Project-Content .container:hover .middle {
  opacity: 1;
}

.Project-Content .text {
  color: black;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  letter-spacing: 0.1rem;
  padding: 2px auto;
}

.Project-Content .text button {
  border-radius: 2rem;
  margin-right: 15px;
}

/* End of Project section */

/* Contact Form Styling Starts */

#contact {
  background-color: #2b2e4a;
  margin-top: 5%;
}

#contact .heading {
  color: white;
  margin-top: -5%;
}

#contact .contactStatement {
  width: 80%;
  color: white;
  font-size: 1.3rem;
  margin: 0 auto;
  margin-left: 20%;
  margin-top: -3%;
  letter-spacing: 0.05rem;
  word-spacing: 0.05rem;
  font-family: "Crimson Text", serif;
}

#contact .personal-info div {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  margin-left: 6%;
  margin-top: 5%;
}

#contact .personal-info {
  padding-top: 10%;
}

#contact .personal-info a {
  color: white;
}

#contact label {
  text-align: left;
  font-size: 1.4rem;
  color: white;
  font-family: "Crimson Text", serif;
  margin-top: -3%;
}
#contact .contactStatement p {
  margin-left: 16%;
}

#contact .social-media {
  width: 80%;
  margin-top: 3%;
  margin-left: 5%;
}

#contact .social-media a {
  margin-right: 1rem;
  font-size: 1rem;
  color: white;
  margin-left: 5%;
}

#contact input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: -1%;
  margin-top: -1%;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  resize: vertical;
}

#contact button {
  background-color: #fff;
  color: #2b2e4a;
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  border: 1px solid white;
  border-radius: 2rem;
  font-family: "Merriweather", serif;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 22%;
}

#contact button:hover {
  background-color: #2b2e4a;
  color: #fff;
}

/* Footer Styling  */
/* #footer {
  padding: 1em 1em 1em;
} */

/* #footer #logo {
  background-color: #e71c23;
  border-radius: 50%;
  color: #fff;
  padding: 0.4em;
  font-family: "Maven pro", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  display: inline;
} */

#footer #copyright {
  margin-top: 1em;
  font-family: "Maven pro", sans-serif;

  color: #2b2e4a;
  font-size: 1.2rem;
}
.social-media a {
  margin-left: 15px;
  color: #2b2e4a;
}

@media only screen and (max-width: 767px) {
  #navbarResponsive {
    background: #343a40;
    padding: 20px;
  }
  .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #e71c23;
    border-radius: 10px;
    width: fit-content;
  }

  .btn-hireMe {
    float: left;
  }
  .profile-photo {
    margin: 4.5rem 38% 0 35%;
  }
  .name h1,
  .name h2 {
    margin: 0px auto;
    text-align: center;
  }
  .name h1 {
    font-size: 1rem;
  }
  .name a {
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 49%;
  }
  .btn-myWork {
    margin-left: auto;
    float: right;
  }
  .container {
    margin: auto !important;
  }
  #aboutMyself {
    margin-left: 0px;
    font-size: 1.3rem;
  }
  .heading-underline {
    margin: 0px auto;
  }
  .narrow {
    margin: 10px auto;
  }
  .btn-resume {
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .progress {
    width: 90%;
    margin: 0px auto;
  }
  #skills p {
    margin-left: 5%;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .banner h1 {
    font-size: 22px;
  }
  .banner h3 {
    font-size: 20px;
  }
  .Project-Content .image {
    width: 100%;
  }
  .Project-Content .middle {
    width: 100%;
  }
  #projects {
    margin-bottom: 40px;
  }
  .Project-Content .middle p {
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-size: 1rem;
  }
  .Project-Content .text button {
    border-radius: 2rem;
    margin-right: 15px;
    font-size: 0.7rem;
    margin-top: -4%;
  }
  #contact .contactStatement p {
    margin-left: 0px;
  }
  #contact label {
    font-weight: normal;
    font-size: 1.3rem;
  }
  #contact .contactStatement {
    margin: 0px 10%;
    margin-top: 0%;
  }
  #contact .personal-info div {
    margin-left: 0%;
    margin-top: 0%;
    width: 50%;
    float: left;
    font-size: 1rem;
  }

  #contact .personal-info div.social-media {
    margin-top: 20px !important;
    width: 100%;
    text-align: center;
  }

  #contactForm .col-md-6 {
    width: 50%;
    float: left;
  }
  #contact input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
  }
  #contact label {
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 3%;
  }
  .help-block.text-danger {
    margin: 0px;
  }
  textarea#message {
    height: 150px;
  }
}
@media only screen and (max-width: 470px) {
  #contactForm .col-md-6 {
    width: 100%;
  }
  .navbar-dark .navbar-brand {
    padding-left: 0px;
  }
  .profile-photo {
    margin: 0px 20%;
    margin-top: 25%;
  }
  .name h1,
  .name h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .name a {
    width: 100%;
  }
  #skills img {
    padding-left: 0px;
    height: auto !important;
    width: 100%;
  }
  #skills .banner {
    height: auto;
    padding: 10px;
  }
  #skills .btn-getInTouch {
    margin-left: 24%;
  }
  #contact .personal-info {
    padding-left: 7%;
  }

  #contact .personal-info div {
    width: 100%;
    padding-top: 3%;
    font-size: 0.9rem;
  }
  .btn-hireMe,
  .btn-myWork {
    float: none;
  }
}
